.row {
	margin-top: 20px;
	margin-bottom: 20px;
}

.card {
	margin: 0 auto;
	width: 288px;
}

.card.bg-light {
	box-shadow: 4px 8px 1px;
}

.form-group,
.zip-inputs-wrap {
	margin: 0 auto;
}

.forecast-card {
	width: 160px;
}

.data-card-body{
	margin: 0 auto;
	width:  300px auto;
	font-style: italic;
	align-self: auto;
}

.weather-icon {
	height: 100px;
	margin-top: 20px;
}
